.tooltip-new {
    position: relative;
    display: inline-block;
}

.tooltip-new .tooltip-text-new {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-new:hover .tooltip-text-new {
    visibility: visible;
    opacity: 1;
}

.chat-container {
    max-height: 300px;
    /* Adjust the height as per your requirement */
    overflow-y: auto;
}